<?xml version="1.0" encoding="UTF-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
    <type name="Training\Test\MagentoU\Test">
        <arguments>
            <argument name="justAParameter" xsi:type="string"> Hello world! </argument>
            <argument name="data" type="array">
                <item name="test-array-item">Test Array Item!!!</item>
            </argument>
        </arguments>
    </type>
</form>